:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-heading: #1b0760;
    --color-body: #918ca4;
}

/* Typography */

html{
    /* 62.5% of 16px = 10px */
    /* font-size: 16px; No need to write this */
     font-size: 62.5%;
}

body{

    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    line-height: 1.5;
    /* The above lines means 1.5 times the current font size */
    font-size: 2.4rem;
}

h1,h2,h3{

    color: var(--color-heading);
    margin-bottom: 1rem;
    /* The above line is for the bottom margin of each of the paragraph and heading tags  */
}

h1{
    /* 1 * font size of the HTML element */
    font-size: 7rem; 
    /* 70px = 7 rem and 40 px = 4rem , this is the magic of mentioning 62.5% of html element */
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 1024){

    body{
        font-size: 1.8rem;
    }

    h1{
        font-size: 8rem;
    }

    h3{
        font-size: 2.4rem;
    }
}

/* Links  */

a{
    text-decoration: none;
    /* it's for all anchor tags in the webpage so there is no need to repeat it for other elements
    in the webpage
    */
}

.link-arrow{

    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

/* We also need arrow sign after the Learn more text so that we use the sudo elements selector */

.link-arrow::after{

    content: '-->';
    margin-left: 5px; 
    /* margin value in pixles because no matter what we always wants distance b/w arrow and Learn 
    more text should always be fixed */
    transition: margin 0.15s;
}

.link-arrow:hover::after{

    margin-left: 10px;

}
@media screen and (min-width: 1024px)
{
  .link-arrow{
      font-size: 1.5rem; 
  }
}

/* Badges */

.badge{
       /*This prevent the badge wrapping into second line this is particularly
       font-size: 2rem;
       important when we've limited space  */
      /* For vertical and horizontal padding */
      /* No dependecy of the radius on font size that's why size is in pixels */
      border-radius: 20px;
      font-weight: 600;
      padding: 0.5rem 2rem;
      white-space: nowrap;
}

.badge--primary{

    background: var(--color-primary);
    color: white;
}

.badge--secondary{
    background-color: var(--color-secondary);
    color:white;
}

.badge--small{

    font-size: 1.6rem;
}


@media screen and (min-width: 1024px){

    .badge{

        font-size: 1.5rem;
    }

    .badge--small{

        font-size: 1.2rem;
    }
}

/* Lists :  there is two types of lists in the website horizontal and inline lists*/

.list{

    list-style: none;
    /* It's just for the get rid of the default bullet points */
    padding-left: 0;
    color: var(--color-heading);
}

.list--inline .list_item{

    display: inline-block;
    margin-right: 2rem;

}

.list--tick{

    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list_item{

    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){

    .list--tick .list_item{

        padding-left: 0;
    }
}

/* Icons */

.icon{

    width: 40px;
    height: 40px;
}

.icon--primary{

    fill: var(--color-primary);
}

.icon-container{

    background:#f3f9fa;
    width: 64px;
    height: 64px; 
    border-radius: 100%;
    /* Using obsulte unit coz there in mobile and desktop view icons sizes remains Same */
    display: inline-flex;
    /* coz inline elements don't change even mentioning width and height of the element */
    justify-content: center;
    align-items: center;
}