<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible_heading">Item 1</h2> 
   </svg><svg class="icon icon--white collapsible__chevron">
       <use xlink:href="images/sprite.svg#chevron"></use>
     </svg>
</header>
<div class="collapsible__content">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vero sapiente harum voluptatum 
   explicabo cumque in exercitationem unde natus voluptatibus!
</div>
   </div>
   <script src="main.js"></script>